
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #0C090A;
}

.left-sidemenu {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343434 ;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.logo-menu {
    width: 74px;
    height: 90px;
}

.menu-logo-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-top: 10px;
color: #D70040;
}

.home {
    margin-top: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
}

.past-runs {
    margin-top: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
     color: white;
}

.settings {
    margin-top: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
     color: white;
}

.right-sidemenu {
    height: 100%;
    width: 75px;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #343434 ;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.logo-menu-button{
    width: 50px;
    height: 59px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playbutton-container, .stopbutton-container {
        width: 50px;
    height: 50px;
    background-color: #D70040;
    border-radius: 20%;
    margin: auto;
    text-align: center;
    display: flex;
  justify-content: center;
}

.playbutton-container, .stopbutton-container:hover{
    cursor: pointer;
}

.play-button, .stop-button{
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

.disabled {
        opacity: 0.5;
        pointer-events: none;
}

.play-button, .stop-button:hover{
    cursor: pointer;
}